.footer-box {
    text-align: center;
    margin-top: -50px;
  }
  
  .footer-heading {
    color: green;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .footer-column {
    flex: 1;
  }
  
  .footer-heading {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-link {
    color: #555;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  .footer-link i {
    margin-right: 10px;
  }
  